<div class="header">
    <h1 class="logo">E-Comm</h1>
    <input class="input" type="text" placeholder="Search for Product">
    <button class="btn">Search</button>
    <ul class="">
        <li class="list">
            <a class="link" routerLink="">Home</a>
            <a class="link" routerLink="/cart">Cart</a>
            <a class="link" routerLink="/seller">Seller</a>
            <a class="link" routerLink="/login">Login</a>
            <a class="link" routerLink="/aboutus">About Us</a>
        </li>
    </ul>
</div>
<hr class="line">